/* You can add global styles to this file, and also import other style files */
// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Bof - add Quill rules
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

.ql-toolbar {
  background: #fff;
}
[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
  background: #fff;
}

quill-editor {
  // min-height: 200px;
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}
// Eof - Quill

.header-md:after {
  background: none;
}

.default-loader {
  .loading-wrapper{
    background: transparent;
    border: none;
    box-shadow: none;
  }
  ion-spinner {
    height: 10rem;
    width: 10rem;
  }
}

// ion-split-pane.md.split-pane-md.hydrated {
  body {
  // --background: red;
  background: url('./assets/images/bg.jpg') right bottom no-repeat;
  background-size: cover;
}

ion-router-outlet, ion-content, ion-header, ion-toolbar, #menu-content {
  --background: none;
  background: none;
}
ion-split-pane{
  background: rgba(255, 255, 255, 0.5);
}

ion-content.ion-padding.md.hydrated {
  background: none;
}

main {
  background: none;
}

.hidden{
  display: none!important;
}