nomades-network-auth-page {
  .flex-container {
    // position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch; 
    height: 100%;   
  
    .center-content {
      h1 {
        margin-top: 0;
        line-height: 3rem;
        font-weight: 400;
        border-bottom: solid 1px var(--ion-color-primary);
      }
      width: 100%;;
    }
    .center-content.margin-login {
      margin-top: 6rem!important;
    }
  
    .footer {
      width: 100%;
    }
  }

}