<ion-content class="ion-padding">
  <div class="flex-container">

    <div [ngClass]="{
          'center-content': true,
          'margin-login': loginBtn
          }">
      <ion-img *ngIf="loginBtn" src="./assets/images/logo-nomades.png"></ion-img>
      <ion-text *ngIf="!loginBtn" color="primary">
        <h1>
          Création de compte
        </h1>
      </ion-text>
      <form [formGroup]="authForm" class="ion-text-center ion-margin-bottom">
        <div [hidden]="loginBtn">
          <ion-item>
            <ion-label>Nom:</ion-label>
            <ion-input formControlName="lastname" type="text" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Prénom:</ion-label>
            <ion-input formControlName="firstname" type="text" ></ion-input>
          </ion-item>  
        </div>
        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input formControlName="email" type="email" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password:</ion-label>
          <ion-input formControlName="password" type="password" ></ion-input>
        </ion-item>
        <br/>
        <ion-button
            class="ion-margin-top"
            (click)="(loginBtn) ? send('login') : send('create')">
          {{(loginBtn) ? 'Se connecter' : 'Créer un compte'}}
        </ion-button>
      </form>
    </div>

    <div class="footer">

      <ion-note class="ion-text-center">
        <p>
          <span *ngIf="!loginBtn">Vous avez déja un compte?<br/></span>
          <a href="#" 
              (click)="$event.preventDefault(); loginBtn = !loginBtn "
              class="ion-color-light">
                {{(loginBtn) 
                  ? "Creer mon compte" 
                  : "Se connecter avec un compte existant"
                }}
          </a>
        </p>
      </ion-note>
      <ion-note *ngIf="loginBtn" class="ion-text-left">
        <p>
          Nomades tribes est l'association des élèves, des alumnis et des enseignants Nomades qui permet de partager, communiquer et collaborer. 
          Créons ensemble notre monde de demain.
        </p>
      </ion-note>
    </div>
  </div>
</ion-content>