<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <!-- <ion-title>Mon profile</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content class="ion-content">
  <!-- <pre *ngIf="user$|async as user" >
    {{user|json}}
  </pre> -->
  <ion-grid *ngIf="user$|async as user" class="ion-padding-top">
    
    <ion-row class="ion-padding-top ion-margin-bottom">
      <ion-col>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <ion-img [src]="user | gavatar | async"></ion-img>
          </ion-avatar>
          <ion-label *ngIf="user?.firstname || user?.lastname">
            <p>{{user?.firstname}} {{user?.lastname}} </p>
            <p>{{user?.job}}</p>
          </ion-label>
          <ion-label *ngIf="!user?.firstname && !user?.lastname">
            {{user?.email}}
          </ion-label> 
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- loop for each section editable -->
    <ion-row
        *ngFor="let section of sectionsEditable; let index = index"
        class="ion-padding-horizontal">
      <ion-col *ngIf="section?.key === 'desc'">
        <ion-icon (click)="sectionsEditable[index].value = !sectionsEditable[index].value" size="small" color="primary" class="ion-float-right" name="create"></ion-icon>
        <ion-text *ngIf="!sectionsEditable[index]">
          {{user?.desc }}
        </ion-text>
        <div contenteditable="true" *ngIf="sectionsEditable[index].value">
          {{user[section?.key]}}
        </div>
      </ion-col>
      <ion-col *ngIf="section?.key !== 'desc'">
        <ion-text color="primary">
          <h2>
            {{section?.title}}
            <ion-icon (click)="sectionsEditable[index].value = !sectionsEditable[index].value" size="small" class="ion-float-right" name="create"></ion-icon>
          </h2>
        </ion-text>
        <ion-text *ngIf="!sectionsEditable[index]">
          {{user[section?.key]}}
        </ion-text>
        <div contenteditable="true" *ngIf="sectionsEditable[index].value">
          {{user[section?.key]}}
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>